/* xmlns="http://javafx.com/javafx/16" xmlns:fx="http://javafx.com/fxml/1" fx:controller="com.github.ghilsidoll.irc.controller.MainSceneController" */

.background-color-default {
    -fx-background-color: #161224;
}

.background-color-transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.border-color-default {
    -fx-background-color: #231b2f;
}

.background-radius-sm {
    -fx-background-radius: 20px;
}

.message-box-background-color {
    -fx-background-color: #231b2f;
}

.border-none {
    -fx-border-style: hidden;
}

.scroll-pane > .corner {
    -fx-background-color: #161224;
}